html {
  scroll-behavior: smooth;
  background-color: #ebdecf;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: #997143;
  font-size: 18px;
}

header {
  text-align: center;
}

h1 {
  margin-bottom: 0px;
}

h2 {
  margin-top: 0px;
}

h3 {
  font-size: 24px;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 0px;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

code {
  font-size: 16px;
}

header {
  width: 100%;
  margin: auto;
  margin-bottom: 0;
}

.main-container {
  text-align: center;
  font-family: "Poppins", sans-serif;
  width: 820px;
  margin: auto;
  background-color: white;
}

.main-container-table {
  margin: auto;
}

.main-container-table-column {
  vertical-align: top;
  width: 50%;
}

.projects {
  text-align: left;
}

.courses {
  text-align: left;
}

.education {
  text-align: left;
}

.about-me {
  text-align: left;
}

.contacts {
  text-align: left;
}

.code-example {
  text-align: left;
}

.skills-table {
  width: 100%;
  margin: auto;
  height: auto;
  text-align: left;
}

.skills-table-column {
  vertical-align: top;
  text-align: center;
  margin: auto;
}

.navigation-list li {
  display: inline-block;
  margin-right: 20px;
  text-decoration: none;
}

.languages-list li p {
  text-align: left;
  margin-bottom: 5px;
  margin-top: 0px;
}

.navigation-list li:last-child {
  margin-right: 0;
}

.photo {
  display: block;
  margin: 0 auto;
  border-radius: 60px;
  height: 320px;
}

.logo {
  height: 32px;
  width: auto;
}

.create-line {
  border-top: solid black 0.99px;
  margin-bottom: 10px;
}

footer {
  width: 100%;
  margin: auto;
}

footer :first-child {
  margin-left: 0;
}

.footer-element {
  margin-left: 40px;
  margin-right: 40px;
  vertical-align: middle;
  font-size: 18px;
}

.footer-element.logo {
  margin-right: 0px;
}

.footer-element.githib-link {
  margin-left: 0px;
}
